body {
background-color: black;
}

img {
border-radius:50%;
margin: 0 auto;
display: block;
}

h1,h2,h3,h4,p {
color:#ffffff;
text-align:center;
}

a:link {
color:#ff00ff;
}
a:hover {
color:#ffffff;
text-decoration:underline;
}

ul li {
color:#ffffff;
}
