body {
background: url(../images/back.jpg) no-repeat;
background-size: 100%
}

#content{
margin: 100px auto;
height: 400px;
width: 600px;
border-radius: 5px;
background-color: white;
text-align:center;
}

#content h5 {
	color: #8e2323;
}

#info {
	padding-top: 50px;
}

#info img{
border-radius:50%;
margin: 0 auto;
display: block;
}

#info span{
	color: #8e2323;
	font-size: 30px;
} 


a:link {
color: black;
text-decoration:none;
}
a:hover {
color: #8e2323;
text-decoration:underline;
}
a:visited {
color: black;
}



ul li {
color:#ffffff;
text-align:center;
}
