body {
background-image: url(../images/back.jpg);
}

#content{
margin: 100px 300px;
height: 400px;
border-radius: 20px;
background-color: white;
}

#content img{
border-radius:50%;
margin: 0 auto;
display: block;
}

h1,h2,h3,h4,p {
color:#ffffff;
text-align:center;
}

a:link {
color:#ffffff;
text-decoration:none;
}
a:hover {
color:#ffffff;
text-decoration:underline dot;
}

ul li {
color:#ffffff;
text-align:center;
}
